
<p>
  <strong>Name:</strong>
  <%= @wedding.name %>
</p>

<p>
  <strong>Rsvp:</strong>
  <%= @wedding.rsvp %>
</p>

<%= link_to 'Edit', edit_wedding_path(@wedding) %> |
<%= link_to 'Back', weddings_path %>
